In [1]:
import pandas as pd
import boto3
import boto3
from botocore.exceptions import NoCredentialsError
import os

In [2]:
ACCESS_KEY = 'AKIA6FZ6VHZJUGBZFRUC'
SECRET_KEY = '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'

bucket_name = "shadinmre"
filenames = ["AlbumDataset.csv", "ArtistDataset.csv", "SongDataset.csv", "UserDataset.csv", "ArtistStreamCount.csv",
            "SongStreamCountByMsisdn.csv", "SongStreamByMsisdn.csv", "SongStreamCountByMsisdn_V2.csv"]

In [3]:
def get_s3():
    s3 = boto3.client('s3', aws_access_key_id=ACCESS_KEY,
                          aws_secret_access_key=SECRET_KEY)
    
    return s3

In [4]:
def get_df(file_name):
    s3 = get_s3()
    obj = s3.get_object(Bucket= bucket_name, Key= file_name) 
    df = pd.read_csv(obj['Body']) # 'Body' is a key word
    
    return df

In [5]:
def get_all_data():
#     albums= get_df(filenames[0])
#     artists = get_df(filenames[1])
#     songs = get_df(filenames[2])
#     users = get_df(filenames[3])
#     asc = get_df(filenames[4])
#     songuser = get_df(filenames[5])
#     songuser_v2 = get_df(filenames[6])
    songuser_v2 = get_df(filenames[7])
    
#     return albums, artists, songs, users, asc, songuser, songuser_v2
    return songuser_v2

In [6]:
# albums, artists, songs, users, asc, songuser, songusertime, songuser_v2 = get_all_data()
songuser_v2 = get_all_data()

In [7]:
songuser_v2.to_csv("songuser.csv")

In [7]:
artists = get_df(filenames[4])

In [8]:
songuserprev = get_df(filenames[5])

In [8]:
songusertime = get_df(filenames[6])

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [18]:
songusertime.to_csv("songusertime.csv")

In [63]:
songusertime.head()

,Msisdn,ContentId,Type,Time,TimeCountSecond,ContentName,Date
0,8.801712e+12,20000007,S,1/27/20 6:29:00 PM,52,NaN,2020-01-27 18:29:00
1,8.801725e+12,20000001,S,1/27/20 6:42:13 PM,16,NaN,2020-01-27 18:42:13
2,8.801725e+12,20000007,S,1/27/20 6:42:27 PM,15,NaN,2020-01-27 18:42:27
3,8.801712e+12,20000001,S,1/27/20 6:47:23 PM,2,NaN,2020-01-27 18:47:23
4,8.801725e+12,20000006,S,1/27/20 6:49:05 PM,5,NaN,2020-01-27 18:49:05

In [17]:
songusertime['Date'] =pd.to_datetime(songusertime.Time)

In [33]:
allartists, allsongs = get_df(filenames[1]), get_df(filenames[2])

# Popular Artist and Popular Songs

In [10]:
##popular songs
popsongs = pd.DataFrame(songuser_v2[['ContentId', 'ArtistId', 'SongStreamCount']].groupby('ContentId', as_index=False)['SongStreamCount'].sum())
popsongs['Rank'] = popsongs['SongStreamCount'].rank(ascending = 0, method='first')
popular_songs = popsongs.sort_values(['SongStreamCount', 'ContentId'], ascending=[0,1])
popular_song_recommendations = pd.merge(popular_songs, allsongs, on='ContentId', how='left')[['ContentId', 'ContentName', 'SongStreamCount', 'Rank']]

In [11]:
#popular artists
popartist = pd.DataFrame(songuser_v2[['ArtistId','ArtistName', 'SongStreamCount']].groupby(['ArtistId', 'ArtistName'], as_index=False)['SongStreamCount'].sum())
popartist['Rank'] = popartist['SongStreamCount'].rank(ascending = 0, method='first')
popular_artists = popartist.sort_values(['SongStreamCount', 'ArtistId'], ascending=[0,1])
popular_artists.head()

     ArtistId    ArtistName  SongStreamCount  Rank
171     436.0   Habib Wahid           669309   1.0
66       70.0   Hridoy Khan           630147   2.0
63       67.0          Asif           593875   3.0
13       14.0         Imran           531924   4.0
825    1418.0  Minar Rahman           488134   5.0

# Discover New Artist

In [27]:
#configuration
import joblib, pickle
def artists_recommendation(artist_id, model_knn_artist, artist_pivot, n, allartists):
    artist_ids, artists, followes, imageUrls = [], [], [], []

    try:
        distances, indices = model_knn_artist.kneighbors(artist_pivot[artist_pivot.index.get_level_values('ArtistId') ==
                                                                      artist_id].
                                                         values.reshape(1, -1), n_neighbors=n + 1)
        for i in range(0, len(distances.flatten())):
            if i == 0:
                continue
            else:
                artist_def = (artist_pivot.index[indices.flatten()[i]])
                artist_ids.append(int(artist_def))
                artists.append(allartists[allartists['ArtistId'] == artist_def].ArtistName.values[0])
                followes.append(int(allartists[allartists['ArtistId'] == artist_def].follower.values[0]))
                imageUrls.append(allartists[allartists['ArtistId'] == artist_def].ImageUrl.values[0])

    except ValueError:
        pass

    return artist_ids, artists, followes, imageUrls

def get_srm():
    song_rs_model = 'song_rs_model.pkl'

    with open(song_rs_model, 'rb') as file:
        srm = pickle.load(file)

    return srm 

def get_pivot_artists():
    with open('pivot_table_artists.csv', 'rb') as file:
        # df = pickle.Unpickler(file).load()
        df = joblib.load('pivot_table_artists.csv')
        file.close()

    return df

def get_pivot_songs():
    with open('pivot_table_songs.csv', 'rb') as file:
        # df = pickle.Unpickler(file).load()
        df = joblib.load('pivot_table_songs.csv')
        file.close()

    return df


def get_arm():
    artist_rs_model = 'artist_rs_model.pkl'

    with open(artist_rs_model, 'rb') as file:
        arm = pickle.load(file)

    return arm

def get_artists_recommendation(artist_id, nrec):
    artist_pivot = get_pivot_artists()
    srm = get_arm()

    try:
        aid, a, follows, imageUrls =  artists_recommendation(artist_id, srm, artist_pivot, nrec, allartists)

        artists = pd.DataFrame({
            "ArtistId": aid,
            "ArtistName":a,
            "Follower": follows,
            "ImageUrl": imageUrls
        }, columns=['ArtistId', "ArtistName", "Follower", "ImageUrl"])

        return artists

    except:
        return None
    
def song_recommendation(song_id, model_knn, pivot_table, n_rec, allsongs, allartists):
    songs, song_ids, artists, artist_ids, durations, contentTypes, playUrls, imageUrls, copyrights, labelNames  =\
        [], [], [], [], [], [], [], [], [], []

    try:
        distances, indices = model_knn.kneighbors(
            pivot_table[pivot_table.index.get_level_values('ContentId') == song_id].
            values.reshape(1, -1), n_neighbors=n_rec + 1)

        for i in range(0, len(distances.flatten())):
            if i == 0:
                continue
            else:
                song_def = (pivot_table.index[indices.flatten()[i]])
                song = (allsongs[allsongs['ContentId'] == song_def]).ContentName.values[0]
                song_id = allsongs[allsongs['ContentId'] == song_def].ContentId.values[0]
                artist = allsongs[allsongs['ContentId'] == song_def].Artist.values[0]
                artist_id = allartists[allartists['ArtistName'] == artist].ArtistId.values[0]
                duration = allsongs[allsongs['ContentId']==song_def].Duration.values[0]
                contentType = allsongs[allsongs['ContentId']==song_def].Type.values[0]
                playUrl = allsongs[allsongs['ContentId']==song_def].PlayUrl.values[0]
                imageUrl = allsongs[allsongs['ContentId']==song_def].ImageUrl.values[0]
                copyright = allsongs[allsongs['ContentId']==song_def].Copyright.values[0]
                labelName = allsongs[allsongs['ContentId']==song_def].LabelName.values[0]

                songs.append(song)
                artists.append(artist)
                song_ids.append(int(song_id))
                artist_ids.append(int(artist_id))
                durations.append(int(duration))
                contentTypes.append(contentType)
                playUrls.append(playUrl)
                imageUrls.append(imageUrl)
                copyrights.append(copyright)
                labelNames.append(labelName)


    except ValueError:
        songs, song_ids, artists, artist_ids, durations, contentTypes, playUrls, imageUrls, copyrights, labelNames = \
            [], [], [], [], [], [], [], [], [], []

    return songs, song_ids, artists, artist_ids, durations, contentTypes, playUrls, imageUrls, copyrights, labelNames

def get_song_recommendation(song, nrec):
    song_pivot = get_pivot_songs()
    srm = get_srm()

#     song = req['song_id']
#     nrec = req['n_rec']

#     all_songs = get_song_dataset()
#     all_artists = get_artists_data()

    try:
        # query_index = np.where(song_pivot.index.get_level_values('ContentName') == song)[0][0]

        s, sid,  a, aid,  dur, cont, playurl, img, copyr, label= song_recommendation(song, srm, song_pivot, nrec, allsongs, allartists)
        song_df = pd.DataFrame({
             "ContentId":sid,
             "ContentName": s,
             "ArtistId": aid,
             "ArtistName": a,
             "Duration": dur,
             "ContentType": cont,
             "PlayUrl": playurl,
             "ImageUrl": img,
             "Copyright": copyr,
             "Label": label

         }, columns=['ContentId', 'ContentName', 'ArtistId', 'ArtistName', "Duration", "ContentType", "PlayUrl",
                     "ImageUrl", "Copyright", "Label"])
        print(s)


    except:
        return None

    return song_df

In [13]:
songuser_v2['Misisdn'] = songuser_v2['Msisdn'].astype(str)

In [11]:
songusertime['Misisdn'] = songusertime['Msisdn'].astype(str)

In [15]:
songuser_v2.to_csv("songuser.csv")

In [14]:
songuser_v2['x'] = songuser_v2['ArtistId'].round()

In [23]:
songuser_v2

,Msisdn,ContentId,ContentName,ArtistId,ArtistName,Type,SongStreamCount,Misisdn,x
0,8.801723e+12,87861,1 2 3,64.0,Agun,S,21,8801722670206.0,64.0
1,8.801719e+12,87861,1 2 3,64.0,Agun,s,1,8801719138035.0,64.0
2,8.801744e+12,87861,1 2 3,64.0,Agun,S,1,8801744196928.0,64.0
3,8.801710e+12,87861,1 2 3,64.0,Agun,s,1,8801710103414.0,64.0
4,8.801713e+12,87861,1 2 3,64.0,Agun,S,1,8801713452700.0,64.0
...,...,...,...,...,...,...,...,...,...
4830472,8.801628e+12,92939,Yeh Sala Dil Hai,10189.0,Jeet Gannguli,v,1,8801627774201.0,10189.0
4830473,8.801747e+12,92939,Yeh Sala Dil Hai,10189.0,Jeet Gannguli,v,3,8801746899039.0,10189.0
4830474,8.801614e+12,92939,Yeh Sala Dil Hai,10189.0,Jeet Gannguli,v,1,8801614003393.0,10189.0
4830475,8.801844e+12,92939,Yeh Sala Dil Hai,10189.0,Jeet Gannguli,v,1,8801843788181.0,10189.0
4830476,8.801757e+12,92939,Yeh Sala Dil Hai,10189.0,Jeet Gannguli,v,1,8801756521856.0,10189.0

In [24]:
a = songuser_v2.groupby(['Misisdn', 'ArtistId'], as_index=False)['SongStreamCount'].sum().reset_index()

In [25]:
a

           index          Misisdn  ArtistId  SongStreamCount
0              0  2180919534880.0      14.0                3
1              1  2180919534880.0      16.0                1
2              2  2180919534880.0      19.0                4
3              3  2180919534880.0      20.0                1
4              4  2180919534880.0      24.0                3
...          ...              ...       ...              ...
2011464  2011464  9660546793880.0     437.0               18
2011465  2011465  9660546793880.0    4636.0                1
2011466  2011466  9660573138805.0      14.0               20
2011467  2011467  9710588259880.0      67.0                4
2011468  2011468  9743091588801.0      70.0                4

[2011469 rows x 4 columns]

In [27]:
# a.to_csv('user_artist_preference.csv')
#function to discover new artists
user="8801722670206.0"
top = 5
fav_artists_id = a[a['Misisdn']==user].sort_values(['SongStreamCount'], ascending=False).head(top).ArtistId.tolist()
from collections import defaultdict
all_rec = []
all_artists = a[a['Misisdn']==user].sort_values(['SongStreamCount'], ascending=False).ArtistId.tolist()
for artist in fav_artists_id:
    for rec in get_artists_recommendation(artist, 5).ArtistId.tolist():
        all_rec.append(rec)
        
artists_tobe_discovered = list(set(all_rec) - set(all_artists))
artists_tobe_discovered

[6723, 2567, 1223, 969, 1706, 172, 3664, 3665, 10782]

In [75]:
songusertime.sort_values(['Date'], ascending=False)

,Msisdn,ContentId,Type,Time,TimeCountSecond,ContentName,Date,Misisdn
1150249,8.801315e+12,91725,s,9/14/21 4:41:24 AM,46,Aye Dekhe Jaa,2021-09-14 04:41:24,8801314618279.0
6850874,8.801715e+12,97056,s,9/14/21 4:40:14 AM,34,Shunnotar Gaan,2021-09-14 04:40:14,8801715057675.0
733164,8.801408e+12,95442,s,9/14/21 4:35:46 AM,16,Amar Chalaki,2021-09-14 04:35:46,8801407769952.0
5649344,8.801308e+12,96456,s,9/14/21 4:32:04 AM,27,Ochena Obhimaner Gaan,2021-09-14 04:32:04,8801307796445.0
2170395,8.801770e+12,90195,s,9/14/21 4:14:18 AM,30,Debe Ki Aktu Shomoy,2021-09-14 04:14:18,8801770471510.0
...,...,...,...,...,...,...,...,...
2178508,8.801759e+12,32794,S,1/26/20 6:28:37 PM,24,Dekhechi Cheye Cheye Tomake Joto,2020-01-26 18:28:37,8801759314253.0
4624167,8.801759e+12,90247,S,1/26/20 6:28:16 PM,19,Mayar Badhon,2020-01-26 18:28:16,8801759314253.0
4624166,8.801759e+12,90247,S,1/26/20 6:28:16 PM,19,Mayar Badhon,2020-01-26 18:28:16,8801759314253.0
2178506,8.801759e+12,32794,S,1/23/20 12:48:37 PM,0,Dekhechi Cheye Cheye Tomake Joto,2020-01-23 12:48:37,8801759314253.0
2178507,8.801759e+12,32794,S,1/23/20 12:48:37 PM,0,Dekhechi Cheye Cheye Tomake Joto,2020-01-23 12:48:37,8801759314253.0

In [25]:
user="8801722670206.0"
top = 10
#last most recent 20 songs
recent_songs = songusertime[songusertime['Misisdn']==user].sort_values(['Date'], ascending=False).ContentId.unique().tolist()[:10]
recent_songs
# fav_artist.groupby(['Msisdn','ContentId'], as_index=False).agg('count').reset_index()[['Msisdn','Date']]

[83512, 90092, 87288, 94854, 90010, 93829, 16119, 75007, 94124, 62052]

In [38]:
allsongs[allsongs['ContentId']==90247].Artist.values[0]

'Hridoy Khan'

## Weekly recommended playlist
Picked top 10 songs an user listened to and sorted it on the basis of recency. For each song pick the top recommended song

In [34]:
user="8801722670206.0"
top = 10
#last most recent 20 songs
recent_songs = songusertime[songusertime['Misisdn']==user].sort_values(['Date'], ascending=False).ContentId.unique().tolist()[:10]

playlist = []

# allsongs_user = song_user_groups[song_user_groups['Misisdn']==user].sort_values(['SongStreamCount'], ascending=False).ContentId.tolist()

for song in recent_songs:
    for rec in get_song_recommendation(song, 1).ContentId.tolist():
        playlist.append(rec)
        
playlist

['Mon Hoye Jay Valo']
['Purnodoirgho Hashi']
['1 2 3']
['Boundule']
['Purnodoirgho Hashi']
['Cholo Bangladesh']
['Shei Prem']
['Parbona (Revisited)']
['Bhalo Lagar Haowa']
['Tomar Dyakha Naai']

[86111, 90772, 87861, 94917, 90772, 7503, 95904, 93018, 89316, 93013]

In [88]:
for song in playlist:
    print(allsongs[allsongs['ContentId']==song].ContentName.values[0]+", " + allsongs[allsongs['ContentId'] == song].Artist.values[0])

Mon Hoye Jay Valo, Asif
Purnodoirgho Hashi, Asif
1 2 3, Agun
Boundule, Asif
Purnodoirgho Hashi, Asif
Cholo Bangladesh, Cryptic Fate
Shei Prem, Shan
Parbona (Revisited), Arijit Singh
Bhalo Lagar Haowa, Abir Biswash
Tomar Dyakha Naai, Arijit Singh